  <header>TinyApp</header>
  <footer>
      <% if (cookies) { %>
          <form method = "POST", action = "/logout">
            <input type="submit" value="Log Out">
          </form>
      <% } else {%>
        <form method = "POST", action = "/register_redirect">
          <input type="submit" value="Register">
        </form>
        <form method = "POST", action = "/login_redirect">
          <input type="submit" value="Log In">
        </form>
      <% } %>
  </footer>
