<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
  <% include ./partials/_header %>
  </header>
  <table>
    <tr>
      <th>Long URL</th>
      <th>Short URL</th>
      <th>Edit </th>
      <th>Delete </th>
    </tr>
    <% for (let url in urls) { %>
    <tr>  
      <td><%= urls[url] %></td>
      <td><%= url %></td>
      <td>
      <form method = "POST", action = "/urls/<%= url %>">
        <input type="submit" value="Edit">
      </form>
      </td>
      <td>
      <form method="POST" action="/urls/<%= url %>/delete">
        <input type="submit" value="Delete">
      </form>
      </td>

    </tr>
    <% } %>
  </table>

</body>
</html>

<!-- route: /days/:week/activities/:id

			||||
			VVVV

url: /days/w2d2/activities/173

			||||
			VVVV

req.params:
{
	week: 'w2d2',
	id: 173
} -->


