<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
  <% include ./partials/_header %>
  </header>
    <% if (cookies) { %>
      <table>
        <tr>
          <th>Long URL</th>
          <th>Short URL</th>
          <th>Update </th>
          <th>Delete </th>
        </tr>
        <% for (let url in urls) { %>
        <tr>  
          <td><%= urls[url].longURL %></td>
          <td><%= url %></td>
          <td>
            <form method = "POST", action = "/urls/<%= url%>">
              <input type="submit" value="Update">
            </form>
          </td>
          <td>
            <form method="POST" action="/urls/<%= url %>/delete">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
        <% } %>
      </table>
      <form method="GET" action ="/urls/new">
        <input type="submit" value="Create a New Short Link">
      </form>
    <% } else {%>
    <% } %>
</body>
</html>